%body
  .wrapper
    = render 'shared/side_bar'
    %header.header
      / .header--top
      /   %p.header--top__create-group グループを作成しました
      .header--in__right
        .in-righthead.group
          %p.group--name
            = @group.name
          %p.group--member group_member
          %li.group--edit
            = link_to 'Edit', edit_group_path(@group), class: 'group--edit__name'
    .content
      .content--main
        .in-rightcontent
          = render @messages
          / = @messages.each do |message|
          /   = render partial: "message", locals: { message: message }
        %footer.footer
          .submit-form
            .submit-form--message-form
              .form
                = form_for [@group, @message] ,html: { class: 'new_message'} do |f|
                  = f.text_field :content, class: 'form__message', placeholder: 'type a message'
                  .form__mask
                    = f.label :image, class: 'form__mask__image' do
                      = fa_icon 'picture-o', class: 'icon'
                      = f.file_field :image, class: 'hidden'
                  = f.submit 'Send', class: 'form__submit'

