.side-bar
  .side--in__left
    .in-lefthead
      .name-tag
        %p.name-tag__user-name
          = current_user.name
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon-cog'
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon-edit'
  .content--left
    .in-leftcontent
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            %p.group__name
              = group.name
            %p.group__comment
              = group.show_last_message
